Repository jim-schilling/splurge-test-namer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        # use the 'check' subcommand so the '--fix' flag is accepted by the installed ruff CLI
        entry: ruff check --fix
        language: system
        files: "\\.py$"

      - id: mypy
        name: mypy
        entry: mypy --ignore-missing-imports
        language: system
        files: "\\.py$"

      - id: pytest
        name: pytest
        # run pytest as a module so the repository root is on sys.path and local package imports resolve
        # ignore the repository pytest.ini here (-c /dev/null) and disable pytest-cov to avoid coverage file
        # creation/combining which can be locked on Windows during pre-commit runs
        entry: python -m pytest -q -p no:pytest_cov -c /dev/null
        language: system
        files: ^tests/

ci: add pull-requests permission for coverage badge updates
  .github/workflows/coverage-commit.yml
Due: none

fix: standardize python-version array syntax in CI workflow
  .github/workflows/python-ci.yml
Due: none

ci: update coverage badge to unknown%
  .github/badges/coverage.json
Due: none

ci: update coverage badge JSON and workflow (generate badge and push/PR fallback)
  .github/badges/coverage.json
  .github/workflows/coverage-commit.yml
Due: none

chore(ci): quick patch - commit local changes and update badge
  .github/workflows/coverage-commit.yml
Due: none

fix(ci): correct coverage output write to GITHUB_OUTPUT
  .github/workflows/coverage-commit.yml
Due: none

fix(ci): use os.environ for GITHUB_OUTPUT (mypy)
  .github/workflows/coverage-commit.yml
  tools/update_coverage_badge.py
Due: ruff, mypy

fix(tools): only write GITHUB_OUTPUT when env var set (avoid PermissionError in tests)
  tests/unit/test_update_coverage_badge.py
  tools/update_coverage_badge.py
Due: ruff, mypy, pytest

chore(readme): combine python badges and group ci+coverage on one line
  README.md
Due: none

chore(build): include tests in sdist via MANIFEST.in
  MANIFEST.in
Due: none

chore(tests): apply proposed test renames (import-following)
  tests/integration/test_namer_0001.py
  tests/unit/test_misc_0001.py
  tests/unit/test_misc_0002.py
  tests/unit/test_namer_0002.py
  tests/unit/test_namer_0003.py
  tests/unit/test_namer_parser_0001.py
  tests/unit/test_namer_parser_0002.py
  tests/unit/test_parser_0001.py
  tests/unit/test_parser_0002.py
  tests/unit/test_parser_0003.py
  tests/unit/test_parser_0004.py
  tests/unit/test_parser_utils_0001.py
  tests/unit/test_parser_utils_0002.py
  tests/unit/test_parser_utils_0003.py
  tests/unit/test_utils_0001.py
  tests/unit/test_utils_0002.py
Due: ruff, mypy, pytest

Add comprehensive tests for CLI and renaming functionality
  README.md
  docs/README-DETAILS.md
  splurge_test_namer/__init__.py
  splurge_test_namer/__main__.py
  splurge_test_namer/cli.py
  splurge_test_namer/exceptions.py
  splurge_test_namer/namer.py
  splurge_test_namer/parser.py
  splurge_test_namer/util_helpers.py
  tests/e2e/test_cli_e2e.py
  tests/integration/test_namer_0001.py
  tests/unit/test_cli_0001.py
  tests/unit/test_cli_0002.py
  tests/unit/test_cli_0003.py
  tests/unit/test_cli_0004.py
  tests/unit/test_cli_0005.py
  tests/unit/test_misc_0001.py
  tests/unit/test_misc_0002.py
  tests/unit/test_namer_0003.py
  tests/unit/test_namer_0004.py
  tests/unit/test_namer_parser_0002.py
  tests/unit/test_parser_0002.py
  tests/unit/test_parser_0005.py
  tests/unit/test_parser_0006.py
  tests/unit/test_parser_0007.py
  tests/unit/test_parser_0008.py
  tests/unit/test_parser_0009.py
  tests/unit/test_parser_utils_0001.py
  tests/unit/test_utils_0001.py
  tests/unit/test_utils_0002.py
  tests/unit/test_utils_0003.py
  tools/update_coverage_badge.py
Due: ruff, mypy, pytest

chore(pre-commit): update hook configurations to use isolated Python environments
  .pre-commit-config.yaml
  splurge_test_namer/cli.py
  splurge_test_namer/namer.py
  splurge_test_namer/parser.py
  tests/unit/test_namer_0005.py
  tests/unit/test_parser_utils_0004.py
Due: ruff, mypy, pytest

Refactor CLI arguments and enhance import scanning
  .gitignore
  CHANGELOG.md
  README.md
  docs/README-DETAILS.md
  docs/plans/plan-import-scan-2025-sep-15.md
  pyproject.toml
  splurge_test_namer/cli.py
  splurge_test_namer/namer.py
  splurge_test_namer/parser.py
  splurge_test_namer/util_helpers.py
  tests/e2e/test_cli_e2e.py
  tests/unit/test_cli_0001.py
  tests/unit/test_cli_0004.py
  tests/unit/test_cli_0005.py
  tests/unit/test_namer_exclude_0001.py
  tests/unit/test_parser_dynamic_imports_0001.py
  tests/unit/test_parser_relative_imports_0001.py
  tests/unit/test_parser_star_expansion_0001.py
  tests/unit/test_parser_static_and_dynamic_0001.py
  tools/rename_tests_by_sentinels.py
Due: ruff, mypy, pytest

Export resolve_module_to_paths from parser for CI monkeypatch
  splurge_test_namer/parser.py
Due: ruff, mypy

Update MANIFEST.in to include only test data files and refine exclusions; enhance pyproject.toml classifiers for Python versions.
  MANIFEST.in
  pyproject.toml
Due: none
